
.body {
    font-family: 'Heebo', sans-serif;
}
.block1 {
    gap: 33px;
    padding: 33px 60px;
    display: flex;
    flex-direction: row;
	justify-content: flex-end;
    
}

.bl_el{
    color: #000;
   
    font-size: 20px;
    font-weight: 500;
    
}

.block2{
  
    padding: 150px 150px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
	
}
.block21{
    gap: 115px;
}

.el1{
    color: var(--dark-color, #21243D);
 
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 136.364% */
    width: 506px;
    height: 105px;
    flex-shrink: 0;
}

.el2{
    padding: 40px 0px;
    color: var(--dark-color, #21243D);
    font-family: Heebo;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    width: 497px;
    height: 66px;
    flex-shrink: 0;
}

.el3{
    border-radius: 2px;
    background: var(--primary, #FF6464);
    padding: 17px 0;
    flex-shrink: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    max-width: 208px;
}



.image{
    object-fit: cover;
    width: 300px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 100%;
   
}

.block3{
    padding:  7px 148px 32px ;
    background: #EDF7FA;
}

.block3_h{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.left {
        
    color: var(--dark-color, #21243D);
    font-size: 22px;
    font-weight: 400;
    line-height: 60px; /* 272.727% */
}
.link{
    color: var(--secondry, #00A8CC);
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;

}

.block4{
    display: flex;
    gap: 20px;

}

.block41_f{
   
    padding: 24px 21px;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(187, 225, 250, 0.25);
}

.text1{
    color: var(--dark-color, #21243D);
    font-size: 26px;
    font-weight: 700;
}

.text2{
   margin: 17px 0px;
    color: var(--dark-color, #21243D);
    font-size: 18px;
    font-weight: 400;
}
.text3{
    
    color: var(--dark-color, #21243D);
    font-size: 16px;
    font-weight: 400;
}

.block5{
    padding: 15px 148px 83px;
}

.block5_h{
    color: var(--dark-color, #21243D);
    font-family: Heebo;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px; /* 272.727% */
}
.block5_if{
    padding: 22px 0px;
    display: flex;
    border-bottom: 1px #000 solid;

}

.im{
    width: 246px;
    height: 180px;
    flex-shrink: 0;
    border-radius: 6px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.block5_f2{
    padding: 0px 18px;
    gap: 22px;
    display: flex;
    flex-direction: column;

}

.text51 {
    color: var(--dark-color, #21243D);
    font-size: 30px;
    font-weight: 700;
}

.bl2{
    display: flex;
    gap: 26px;

}

.t1{
    padding: 5px 10px;
    border-radius: 16px;
    background: #142850;
    color: #FFF;
    font-size: 18px;
    font-weight: 900;
}

.t2{
    color: var(--light, #8695A4);
    font-size: 20px;
    font-weight: 400;
    max-width: 594px;
    
    flex-shrink: 0;
}

.footer{
    padding: 55px 0px;
    display: flex;
    justify-content: center;
}

.bf{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;

}
.socials{
    display: flex;
    gap: 15px;
}